* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.15;
  text-rendering: optimizeLegibility;
}

body {
  color: #bbbb04;
  background: #161616;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  opacity: 1;
  height: 60px;
  border: 2px solid #bbbb04;
}
nav a {
  text-decoration: none;
  color: #bbbb04;
  font-weight: bold;
  font-size: 20px;
  height: 60px;
  padding: 18px 40px;
}
nav a:hover {
  transition: 270ms ease-in-out;
  cursor: pointer;
  color: #161616;
  background: #bbbb04;
}
nav .links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-bottom: 2px solid #bbbb04;
}
section .content {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
section .content h1 {
  font-size: 45px;
  font-weight: bold;
  margin: 0 0 20px;
}
section .content h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 20px;
}
section .content p {
  font-size: 20px;
  margin: 0 0 20px;
}
section .content > a {
  text-decoration: none;
  color: #bbbb04;
  font-weight: bold;
  font-size: 15px;
  height: 100%;
  margin: 0 40px;
}
section .content > a:hover {
  text-decoration: underline;
  transition: 270ms ease-in-out;
  cursor: pointer;
  font-size: 16px;
}
section .content > img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  box-shadow: 1px 0px 34px -6px black;
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-list > * {
  margin: 0 15px;
}

#contact h1 {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}
#contact form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: 20px;
}
#contact form input {
  width: 450px;
  height: 40px;
  border: 2px solid #bbbb04;
  border-radius: 5px;
  margin: 10px 0;
  padding: 0 10px;
  background: #654363;
  color: #bbbb04;
  font-weight: bold;
  font-size: 15px;
}
#contact form input:focus {
  outline: none;
  border: 2px solid #bbbb04;
  box-shadow: 0 0 10px #bbbb04;
  transition: 270ms ease-in-out;
  cursor: pointer;
  font-size: 16px;
}
#contact form input:hover {
  border: 2px solid #bbbb04;
  box-shadow: 0 0 10px #bbbb04;
  transition: 270ms ease-in-out;
  cursor: pointer;
  font-size: 16px;
}
#contact form input::placeholder {
  color: #bbbb04;
  font-weight: bold;
  font-size: 15px;
}
#contact form textarea {
  width: 450px;
  height: 100px;
  border: 2px solid #bbbb04;
  border-radius: 5px;
  margin: 10px 0;
  padding: 0 10px;
  background: #654363;
  color: #bbbb04;
  font-weight: bold;
  font-size: 15px;
}
#contact form textarea:focus {
  outline: none;
  border: 2px solid #bbbb04;
  box-shadow: 0 0 10px #bbbb04;
  transition: 270ms ease-in-out;
  cursor: pointer;
  font-size: 16px;
}
#contact form textarea:hover {
  border: 2px solid #bbbb04;
  box-shadow: 0 0 10px #bbbb04;
  transition: 270ms ease-in-out;
  cursor: pointer;
  font-size: 16px;
}
#contact form textarea::placeholder {
  color: #bbbb04;
  font-weight: bold;
  font-size: 15px;
}
