*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: purple;
}
header{
    text-align: center;
    height: 100vh;
}
header .navbar{
    background: #000;
    padding: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #fff solid 2.5px;
    max-height: 10%;
}
header .navbar > *{
    padding: 0 10%;
}
header .navbar a{
    color: #fff;
    text-decoration: none;
}
header .navbar a:hover{
    color: #fff;
    text-decoration: underline;
}
header .navbar .logo{
    font-size: 1.5rem;
    font-weight: bold;
}
header .navbar .logo:hover{
    text-decoration: underline;
}
header .navbar .logo:active{
    text-decoration: underline;
}
header .navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .hero{
    background: url('../img/hero.jpg');
    object-fit: cover;
    background-position: center;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
header .hero .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-bottom: white 2px solid;
    background: rgba(0, 0, 0, 0.43);
    flex: 1 0 0;
    width: 100%;
}
header .hero h1{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}
header .hero h2{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
header .hero img{
    width: 250px;
    height: 250px;  
    border-radius: 50%; 
    object-fit: cover;
    border: white 2px solid;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.43);
    border: 2px solid black;
    text-align: justify;
    color: #FFFFFF;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
section{
    margin-top: 20px;
}