*{
  font-family: 'Roboto', sans-serif;
}
body{
  background: black;
  color: white;
}
nav{
  border-bottom: #fff 1px solid;
}
@media only screen and (max-width: 990px) {
  nav.navbar{
    border-bottom: none;
  }
}
html:not([data-scroll="0"]) nav{
  background: #000;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
.nav-link{
  text-transform: uppercase;
}
.nav-link:hover{
  border-bottom: #fff 1px solid;
}
@media only screen and (max-width: 990px) {
  .nav-link{
    border-bottom: #fff 1px solid;
  }
}
.navbar-brand{
  font-size:x-large ;
}
.hero{
  background: url('../img/hero.jpg');
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  border-bottom: #fff solid 1px;
}
.hero .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border-bottom: white 2px solid;
  background: rgba(0, 0, 0, 0.43);
  flex: 1 0 0;
  width: 100%;
  text-align: center;
}
.hero h1{
  color: #fff;
  font-weight: bold;
}
.hero h2{
  color: #fff;
  font-weight: bold;
}
.hero img{
  width: 250px;
  height: 250px;  
  border-radius: 50%; 
  object-fit: cover;
  border: white 2px solid;
}
.section{
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 50px 0;
  border-bottom: #fff solid 3px;
}
.section .container{
  background: rgba(0, 0, 0, 0.53);
  border: 2.34px solid black;
  position: relative;
  z-index: 2;
  padding: 15px 30px;
}
.section .container .section-title{
  font-size: xx-large;
  padding-top: 10px;
  padding-bottom: 15px;
}
#about-me{
  background: url('../img/about-me.png');
}
#projects{
  background: url('../img/projects.png');
  text-align: center;
}
#projects img{
  width: 250px;
  display: block;
  margin: auto;
}
#technologies{
  background: url('../img/technologies.jpg');
}
footer{
  padding: 0;
}